/*Main  body amd fonts*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*Background*/
#header{
    background-image: url(css/images/background.jpg); 
    background-size: cover;
}
