/*Main  body amd fonts*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*Background*/
.header{
    min-height: 100vh;
    width: 100;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(/css/images/banner.jpg); 
    background-position: center;
    background-size: cover;
    position: relative;
}

/*Navigation bar*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

a img{
    width:200px
}

/*Navigation bar position*/
.sidenav{
    flex: 1;
    text-align: right;
}

/*Navigation bar layout*/
.sidenav ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}       

/*Navigation bar design*/
.sidenav ul li a{
    color: Black;
    text-decoration: none;
    font-size: 20px;
}

/*Navigation bar hover effect*/
.hover {
    background:
    linear-gradient(currentColor 0 0) bottom 0   left 50% /var(--a, 0) 3px no-repeat,
    linear-gradient(currentColor 0 0) bottom 6px left 50% /var(--b, 0) 3px no-repeat;
    transition:0.5s;

}

/*Activate hover effect*/
.hover:hover{
    --a: 60%;
    --b: 100%;
}

/*Positioning of text box*/
.text-box{
    width: 90%
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

/*Heading of text box*/
.text-box h1{
    font-size: 62px;
    color: white;
}

/*Parapraph of text box*/
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px; 
    color: white;
}

/*Button of text box*/
.tb-btn{
    background-color: none;
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/*Button hover effect of text box*/
.tb-btn:hover{
    border: 1px solid white;
    background: white;
    transition: 0.5s;
    color: black;
}

/*Stops nav bar icons from appearing*/
nav i.fa{
    display: none;
}

/*For mobile users*/
@media(max-width: 799px){
    
    a img{
    width:100px
}
    
    .text-box h1{
        font-size: 30px;
        color: white;
    }
    
    .sidenav ul{
        position: absolute;
        background-color: lightblue;
        height: 100vh;
        width: 50%;
        top: 0;
        right: 0;
        text-align: right;
        z-index: 2;
        list-style-type: none;
        margin: 0;
        padding: 0;
        transition: 1.5s;
        display:none;
    }

    .sidenav ul li{
        display: block;
        color: black;
        padding: 8px 16px;
        text-decoration: none;
    }
    
    .sidenav ul li a{
        color: Black;
        text-decoration: none;
        font-size: 20px;
    }
    
    .hover {
        background:
        linear-gradient(white 0 0) left /100% var(--d, 0%) no-repeat;
        transition: 0s;
    }
    
    .hover:hover{
        --d: 100%;
        color: white;
    }
    
    nav i.fa{
        display: block;
        color: black;
        margin: 20px;
        cursor: pointer;
        font: normal normal normal 25px/1 FontAwesome
    }
}
