<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta name = 'viewport' content = 'width = device-width'>
    <title>{{ page.title }}</title>
    <link rel = 'preconnect' href = 'https://fonts.gstatic.com'>
    <link href = 'https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap' rel = 'stylesheet'>
    <link rel = 'stylesheet' href = 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    
</head>

<body>
    <section class = 'header'>
        <nav>
            <a href = 'index.html'><img src = 'images/High Resolution Logo - Transparent Background (1).png'></a>    
            <div class = 'sidenav'>
                <ul id = 'mySidenav'>
                    <i class = 'fa fa-times' id = 'hideMenu' onclick="hideMenu()"></i>
                    <li class = 'hover'><a href = ''>Home</a></li>
                    <li class = 'hover'><a href = 'Services.html'>Services</a></li>
                    <li class = 'hover'><a href = 'Gallery.html'>Gallery</a></li>
                    <li class = 'hover'><a href = 'About.html'>About</a></li>
                    <li class = 'hover'><a href = 'Contact.html'>Contact</a></li>
                </ul>
            </div>
            <i class = 'fa fa-bars' id = 'showMenu' onclick="showMenu()"></i>
        </nav>    
    </section>
    
<script>
    
    function showMenu(){
        var menu = document.getElementById("mySidenav");
        menu.style.display = 'block';
    }
    
    function hideMenu(){
        var menu = document.getElementById('mySidenav');
        menu.style.display = 'none';
    }
</script>
    
{{ content }}

</body>

</html>
